*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: purple;
    height: 40px;
    width: 300px;
    transition: transform 0.1s linear;
}
button:focus{
    outline: none;
}
button:active{
    box-shadow: 0;
    transform: translate(2px,2px);
}